*{
	margin: 0;
	padding: 0;

}
html{
	
	background-image: url("../img/fondoPagina.jpg");
	background-position-x: -55px;
	padding-top: 124px;
	padding-bottom: 124px;
}
body{
	max-width: 1100px;
	
	margin: 0 auto;
}
.texto-bienvenida{
	text-align: center;
	padding: 50px;
	font-size: 2em;
}
.cabecera{
	background-color: black(49, 42, 42, 0.329);
}
